{% extends 'base.html' %}
{% load staticfiles %}
  {% block conteudo %}
        <div class="android-more-section">
          <div class="android-section-title mdl-typography--display-1-color-contrast">
          
          	Atrações
          	
          </div>
          <div class="android-card-container mdl-grid">
            <div id="lindinho" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/lindinho.jpg' %}">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">
                 	Lindinho Estilizado
                 </h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                 		"SEPARA OS HOMENS DOS MENINOS!!!"<br><br>

						Uma das atrações do nosso arraiá foi divulgada!!! Pela primeira vez no IF NA ROÇA:<br> 

						LINDINHO E FORRÓ ESTILIZADO!<br> 

						Prepara as canela que o forró vai comer no centro!!!<br>

                </span>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://www.facebook.com/lindinhoestilizado" target="_blank">
                   Conheça Mais >
                 </a>
              </div>
            </div>

            <div id="giannini" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/gianini.jpg' %}">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Giannini</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                	ARROOOOCHE!!!<br><br>

        					Giannini Alencar <br>
        					Segundo Sanfoneiro <br>
        					Lindinho Estilizado <br>

        					Tem dúvidas que esse @vifnaroca vai ser pipoco?<br>

        					DIA 09 DE JULHO, CHEGUE QUENTE QUE JÁ TÁ TODO MUNDO FERVENDO <br>
                </span>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://www.facebook.com/gianninialencaroficial/" target="_blank">
                   Conheça Mais >
                 </a>
              </div>
            </div>

            <div id="segundo" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__media">
                  <img src="{% static 'images/segundo.jpg' %}">
                </div>
                <div class="mdl-card__title">
                   <h4 class="mdl-card__title-text">Segundo Sanfoneiro</h4>
                </div>
                <div class="mdl-card__supporting-text">
                  <span class="mdl-typography--font-light mdl-typography--subhead">
                    FOI DIVULGADA MAIS UMA ATRAÇÃO DO IF NA ROÇA!!!<br><br>

                    Mais uma vez em nosso arraiá, o cara que não decepciona nunca!<br>

                    Segundo Sanfoneiro vai trazer aquele forrózão que só ele sabe puxar.<br>

                    AGUARDEM QUE MUITAS NOVIDADES ESTÃO POR VIR...<br>
                  </span>
                </div>
                <div class="mdl-card__actions">
                   <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://www.facebook.com/segundosanfoneiro1/" target="_blank">
                     Conheça Mais >
                   </a>
                </div>
              </div>
          </div>
        </div>
  {% endblock %}