{% extends 'base.html' %}
{% load staticfiles %}
  {% block conteudo %}

	{% if cadastro == True %}
		  <h1>Novo participante cadastrado com sucesso!</h1><br>
		  <h2>contamos com sua presença!</h2><br>
	{% endif %}

	<div id="formulario">
		<form action="{% url 'lista' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
		    

				<div id="formdentro">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="nome">
				    	<input class="mdl-textfield__input" type="text" id="nome" name="nome" >
				    	<label class="mdl-textfield__label" for="sample3">Nome</label>
					</div><br>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="RG">
				    	<input class="mdl-textfield__input" name="RG" id="RG" type="number" size="10" max="999999999" min="0" pattern="-?[0-9]*(\.[0-9]+)?"/>
				    	<label class="mdl-textfield__label" for="sample3">RG</label>
					</div><br>

			    	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
			        	Cadastrar
			    	</button>
					</div>
		
		  </form>
	</div>
	  <br>
	  <h2>{{ Nparticipantes }} participantes cadastrados.</h2>
  {% endblock %}